<a
  class="text-white text-sm font-medium px-10 py-2.5 border-[3px] border-white rounded inline-block duration-200 hover:bg-white/5 hover:backdrop-blur-sm focus:bg-white focus:text-black focus:border-black/5 select-none z-50"
  href="#"
>
<slot name="text-bt1"/>
</a>
