<a
  class="text-white bg-gray-700 text-sm font-medium px-10 py-2.5 border-[3px] border-gray-700 rounded inline-block duration-200 focus:bg-gray-900 focus:border-gray-900 select-none z-50"
  href="#"
>
  <slot name="text-bt1" />
</a>
<a
  class="text-black bg-white text-sm font-medium px-10 py-2.5 border-[3px] border-white rounded inline-block duration-200 focus:bg-gray-900 focus:text-white focus:border-gray-900 select-none z-50"
  href="#"
>
  <slot name="text-bt2" />
</a>
